body {
  background: #111;
  margin: 0;
  font-family: Arial, sans-serif;
}

.main {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
}

.column {
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
  justify-items: center;
}

canvas {
  display: block;
  background: #222;
  border: 2px solid #fff;
}

#score {
  color: #fff;
  text-align: center;
  font-size: 24px;
  padding: 10px;
}

#stats{
  color: #fee;
  padding: 24px;
}





